.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
thoughts_on_rates_pt1.html
thoughts_on_rates_pt2.html
thoughts_on_rates_pt2.pdf
thoughts_on_rates_pt3.html
thoughts_on_rates_pt3_files
nb_thoughts_on_rates_pt3.html
nb_thoughts_on_rates_pt3_files
